<mat-card class="article">
  <mat-card-header>
    <mat-card-title class="article-title">
      <button mat-stroked-button class="article-category" color="accent" routerLink=".">{{article.category |
        uppercase}}</button>
      <a href="#">
        {{article.title}}
      </a>
    </mat-card-title>
    <mat-card-subtitle class="article-author article-date">
      {{article.author}}
      - <small>{{article.date}}</small>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="article-content">
    <img src="{{article.image}}" alt="{{article.image_alt}}" class="article-image" />
    <p>
      {{ article.content }}
    </p>
    <mat-chip-list>
      Tags:
      <mat-chip *ngFor="let tag of article.tags"><small>{{ tag }}</small></mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions>
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile colspan=1>
        <button mat-mini-fab color="secondary">
          <mat-icon matBadge="12" matBadgeColor="secondary" matBadgeOverlap="false">remove_red_eye</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="accent" class="article-like">
          <mat-icon matBadge="{{article.likes}}" matBadgeColor="accent" matBadgeOverlap="false">favorite</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="warn" class="article-comment">
          <mat-icon matBadge="{{article.comments.length}}" matBadgeColor="warn" matBadgeOverlap="false">comment</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="primary" class="article-share">
          <mat-icon matBadge="{{article.shares}}" matBadgeOverlap="false">share</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>