  <mat-card fxLayout="column">
    <app-article-title [title]="articles[0].title" [author]="articles[0].author" [date]="articles[0].date" [category]="articles[0].category">
    </app-article-title>
    <app-article-content [content]="articles[0].content"></app-article-content>
    <mat-divider [inset]="true"></mat-divider>
    <app-article-reactions [likes]="articles[0].likes" [comments]="articles[0].comments" [views]="articles[0].views"
        [shares]="articles[0].shares" 
        (onview)="addView(0)"
        (onlike)="addLike(0)" 
        (oncomment)="addComment(0)"
        (onshare)="addShare(0)">
    </app-article-reactions>
  </mat-card>