<mat-card class="article">
  <mat-card-header>
    <mat-card-title class="article-title">
      <button mat-stroked-button class="article-category" color="accent" routerLink=".">{{articles[0].category |
        uppercase}}</button>
      <a href="#">
        {{articles[0].title}}
      </a>
    </mat-card-title>
    <mat-card-subtitle class="article-author article-date">
      {{articles[0].author}}
      - <small>{{articles[0].date}}</small>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="article-content">
    <img src="{{articles[0].image}}" alt="{{articles[0].image_alt}}" class="article-image" />
    <p>
      {{ articles[0].content }}
    </p>
    <mat-chip-list>
      Tags:
      <mat-chip *ngFor="let tag of articles[0].tags"><small>{{ tag }}</small></mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions>
    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile colspan=1>
        <button mat-mini-fab color="secondary">
          <mat-icon matBadge="12" matBadgeColor="secondary" matBadgeOverlap="false">remove_red_eye</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="accent" class="article-like">
          <mat-icon matBadge="{{articles[0].likes}}" matBadgeColor="accent" matBadgeOverlap="false">favorite</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="warn" class="article-comment">
          <mat-icon matBadge="{{articles[0].comments.length}}" matBadgeColor="warn" matBadgeOverlap="false">comment</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="primary" class="article-share">
          <mat-icon matBadge="{{articles[0].shares}}" matBadgeOverlap="false">share</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>