<!-- <mat-card [style.background]="'url(assets/img/bassirou.png)'"> -->
<mat-card [style.background]="colors[0]" fxLayoutGap="50px">
  <mat-card-header>
    <mat-card-title>
      <a href="#">{{ articles[0].title }}</a>
    </mat-card-title>
    <mat-card-subtitle>
      <small>{{ articles[0].author }} - {{ articles[0].date }}</small>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="flex-end flex-start">
    <small>{{ articles[0].category }}</small>
  </mat-card-content>
</mat-card>
