<!-- Toolbar -->
<mat-toolbar color="primary">
    <button mat-button *ngFor="let category of categories">{{ category }}</button>
</mat-toolbar>

<!-- Tags -->
<mat-chip-list>
    Tags:
    <mat-chip *ngFor="let tag of tags" [color]="tag.color">{{ tag.name }}</mat-chip>
</mat-chip-list>

<!-- Title -->
<mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        <img src="{{tile.image}}" />
    </mat-grid-tile>
</mat-grid-list>

<!-- Articles -->
<mat-grid-list cols="3" rowHeight="125px">
    <mat-grid-tile [colspan]="2" [rowspan]="4" [style.background]="colors[0]">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="12" [style.background]="colors[1]">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4" [style.background]="colors[2]">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4" [style.background]="colors[3]">
    </mat-grid-tile>

</mat-grid-list>